[2012-04-09 20:39] FSX opened #16 "Pass extension/flags as list of strings instead of using EXT_* and HTML_* constants"
I cought myself making a mapping (dict) to the `EXT_*` and `HTML_*` constants whenever I want to let the user control the extensions and flags. And also saw the same pattern in an other user's code.

I think it's easier to pass a list or tuple to the renderer and parser with the extensions and flags as strings in there. For example:

[code]

Instead of:

[code]

The downside of this is an API chan

[2012-04-17 22:30] FSX opened #17 "Enabling SmartyPants with a render flag"
I noticed enabling SmartyPants by using a flag is not very natural. See `scripts/misaka` and `misaka.html` (the code). There should be a less awkward (or something like that) way. Like not having to create an empty class on a certain condition that inherits `HtmlRenderer` and `SmrtyPants`.

Maybe add `SmartyPants` to the `HtmlRenderer` and enable it by passing a certain render flag.

Opinions?

[2012-05-05 17:04] FSX opened #18 "Include stdint.h for Windows"
Just saw this: http://code.activestate.com/pypm/misaka/. Including `stdint.h` shouldn't be a problem I think.

What do you think about that, Windows users?

[2012-06-26 15:00] cable729 opened #23 "error: Unable to find vcvarshall.bat on Win8 RC"
I might be doing something wrong, but here is what I'm getting when trying to install [mynt](https://github.com/Anomareh/mynt/issues/21). I have python 3.2 and 2.7 and I have mingw32. I have python 2.7 and mingw32 in %PATH%. Here is the error:

[code]

I've tried various methods described [here](http://stackoverflow.com/questions/3879014/unable-to-find-vcvarsall-bat-error-when-trying-to-install-qr

[2012-08-14 13:05] edbrannin opened #24 "Can't build in Windows: "Failed to load and parse the manifest.""
After working around Issue #18 by switching my environment to use Visual Studio 10 (`set VS90COMNTOOLS=%VS100COMNTOOLS%`), I tried building misaka again and  got this error near what I think is the end of the build process:

    c:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\BIN\link.exe /DLL /nologo /INCREMENTAL:NO /LIBPATH:C:\Python27\libs /LIBPATH:C:\Python27\PCbuild /EXPORT:initmisaka

[2012-11-02 00:21] singingwolfboy opened #27 "Add documentation for running tests"
It's *really* difficult to run the unit tests of this project. How to run the tests should be included in the documentation; ideally, it should be as easy as `python setup.py test`. (See the [setuptools docs](http://packages.python.org/distribute/setuptools.html#test-build-package-and-run-a-unittest-suite).)

[2013-01-21 00:54] tiktuk opened #29 "Problems installing misaka"
First I tried with pip:

It fails with errors like this:

    src/misaka.c:3447:13: error: no member named 'curexc_value' in 'struct _ts'

    tstate->curexc_value = 0;

[code]

[2013-02-04 23:52] hetsch opened #30 "Problems calling super method of RendererClass"
First, thanks for that very useful bindings. I'm having trouble calling the super method of a renderer class.

Let's say that i have an object like this:
[code]
AttributeError: 'super' object has no attribute 'header'

Am I am missing something important? Am I'm overwriting the base header method in HtmlRenderer permanetly?

Thank's a lot!

[2013-06-13 14:50] thrisp opened #34 "unable to install with python 3.3"
[code]

pip.log

[code]

[2013-06-13 18:36] jvanasco opened #35 "Misaka handles single-brackets fine; but double-brackets don't work."
I'm not sure if this is a bug or not.  My usage isn't within the spec of Markdown , but there  is an inconsistency...

The AUTOLINK extension works fine with 1 bracket, but with 2 brackets it has an issue.

[code]

on the 2 bracket version, it renders...

[code]

I can understand why it would perhaps do... %5D%5D

[code]

but the current implementation is a bit odd.

while I'd love for it to ignor

[2013-09-15 19:04] carlopires opened #36 "Misaka output different from sundown"
This MD snippet:
[code]
Is rendered with sundown as:

    bash$ ~/sundown/sundown test.markdown
    <ol>
    <li><p>Ordered item</p>

    <p>You can have properly indented paragraphs within list items.
    Notice the blank line above, and the leading spaces (at least
    one, but we&#39;ll use three here to also align the raw Markdown).</p>

    <p>To have a line break without a paragraph, you wil

[2013-10-09 23:24] jayd3e opened #38 "The code syntax highlighting example doesn't work with quotes"
If you use quotes with the example given here: http://misaka.61924.nl/manual/#toc_15.  It escapes the quotes before pygments is able to convert them to html.  Resulting in stuff like this:

![alt](http://f.cl.ly/items/2B0z0s0D2C1v3e2G0T2R/Screen%20Shot%202013-10-09%20at%206.23.59%20PM.png)

[2013-10-21 00:34] alex opened #39 "misaka doesn't install under PyPy"
This is because of the cython, one approach to resolving this would be to switch to cffi

[2015-06-02 13:13] #36 closed

[2015-06-02 13:15] #30 closed

[2015-06-02 13:15] #29 closed

[2015-06-02 13:16] #23 closed

[2015-06-02 13:17] #17 closed

[2015-06-04 08:18] #39 closed

[2015-06-04 08:20] FSX commented on #39
Working on a CFFI port. It works with PyPy 2.6.

[2015-06-30 04:49] colmoneill opened #42 "error: misaka renders the first lines to <pre> & <code> ?"
Hi, I'm having a weird issue with Misaka when rendering the markdown in my templates.

I'm calling the plugin using the built in filter and a db call like so:

[code]

which generates this markup:

[code]

based on this raw md from my document:
[code]

Am I doing something wrong? Why would Misaka render everything properly except the first tagged block?

Cheers!

[2015-06-30 04:51] colmoneill commented on #42
Note: I'm asking here based on this issue in flask-misaka https://github.com/singingwolfboy/flask-misaka/issues/6#event-343622002

[2015-07-01 19:27] FSX commented on #42
Hi, thanks for reporting the issue. I'll look into it.

Sorry for responding after two days. I did not see the notification.

[2015-07-05 14:22] colmoneill commented on #42
Ok, great. Thanks. This is the first time something like this comes up? I hope it's not due to my setup.

[2015-07-06 11:41] FSX commented on #42
I haven't seen this before.

[2015-07-10 10:08] FSX commented on #42
It's because of the indent. The following should work:

[code]

Flask-Misaka captures everything in the filter tag, including whitespace.

[2015-07-10 13:08] #34 closed

[2015-07-10 14:36] colmoneill commented on #42
Aha, ok great thanks! Actually, my code was as you suggested above:

[code]

But that was not working, I had to go to one line

`{% filter markdown %}{{exhibition.wysiwig_exhibition_description}}{% endfilter %}`

Which is fine I guess.

Thanks for the help!

[2015-07-10 14:36] #42 closed

[2015-07-10 14:49] singingwolfboy commented on #42
@colmoneill: it might be simpler to just do
[code]
which should do the same thing.

[2015-07-10 15:06] colmoneill commented on #42
Nice! Cheers!

[2015-08-07 16:05] FSX commented on #16
Done. I'll close this ticket when 2.0.0b2 is released.

[2015-09-30 18:29] samuelcolvin opened #44 "new release"
First of all there's an error in the first example in the README: `print md('some text')` should be `print md.render('some text')`.

~~Secondly, the currently releases (both `v2.0.0b1.post2` and `v1.0.2`) are in some weird state where they can't be searched for in pypi and (rather more importantly) can't be installed in certain situations, eg. on circleci.~~

Is there any plan for a proper new rel

[2015-09-30 20:49] FSX commented on #44
Thanks for reporting.

I still need to complete the documentation. That's the only thing left to do.

[2015-09-30 21:01] samuelcolvin opened #45 "GFM how to"
GFM (github flavoured markdown) is very popular these days. It would be great if there was some help somewhere on how to get misaka to generate GFM.

I know it's never going to be identical but some pointers for the most important features would be useful.

Currently my solution to get something close to GFM's linebreak behavior is:

[code]

The regular expression is required since gfm does:

[cod

[2015-09-30 21:03] samuelcolvin commented on #45
looks like [this](https://gist.github.com/fyears/5097469) might be useful too, but it used the old version of misaka and therefore `EXT_LAX_HTML_BLOCKS` which doesn't exist for version 2.x.

[2015-10-01 07:00] FSX commented on #45
Goodmorning Samuel, I'll take a look at it.

[2015-10-04 20:34] FSX commented on #45
`EXT_LAX_HTML_BLOCKS` is not available in Hoedown, the parser that Misaka uses. You can use `HTML_HARD_WRAP` to insert `<br>` on each linebreak.

[2015-10-04 21:27] samuelcolvin commented on #45
I had realised that `EXT_LAX_HTML_BLOCKS` wasn't available, that's why I was looking for a better solution.

Thanks for pointing out `HTML_HARD_WRAP`, very useful.

[2015-10-14 14:01] #16 closed

[2015-10-14 14:01] #24 closed

[2015-10-14 14:01] #18 closed

[2015-10-14 14:02] #27 closed

[2015-10-14 14:46] singingwolfboy commented on #27
@FSX: can you point out what you changed? I don't know if you closed this issue because you fixed the issue, or because you decided not to do it. I don't see anything in the documentation about how to run tests.

[2015-10-14 17:08] FSX commented on #27
I still need to write the documentation for version 2.0, which will include docs about running tests.

You can already use `python setup.py test` to run the tests in 2.0. :)

[2015-10-22 13:48] FSX commented on #27
It's done: http://misaka.61924.nl/index.html#tests

[2015-10-22 13:49] FSX commented on #44
Done.

[2015-10-22 13:49] #44 closed

[2015-10-22 17:29] vyscond opened #46 "AttributeError: 'module' object has no attribute 'SmartyPants'"
I just updated my package this morning and then nothing is working anymore!

[code]

Now i got this error every time i try to run the code

[code]

[2015-10-22 18:17] FSX commented on #46
Miasma? That doesn't sound very pleasant.

I've rewritten Misaka and introduced some changes that break compatibility with previous versions. The `Smartypants` mixin has been replaced with a function, [smartypants](http://misaka.61924.nl/#misaka.smartypants). It can put the output of the markdown parser into that.

If you'd like to use the old API you can install the previous version of Misaka wit

[2015-10-23 03:11] vyscond commented on #46
Can you provide a example of how can we achieve the same results from the old example with the new API?

[2015-10-23 10:34] FSX commented on #46
Well, [if you look at the documentation](http://misaka.61924.nl/#misaka.smartypants) you see that it needs a string as input and returns a string. For example:

[code]

[2015-10-24 22:40] sprin commented on #44
Congratulations and thank you! Just updated from the beta to 2.0 in [pg-discuss](https://pg-discuss.readthedocs.org/en/latest/), a comment backend.

[2015-10-25 09:14] ethe opened #47 "pip install misaka setup error in ubuntu 15.10 64-bit"
[code]

[2015-10-25 09:50] ethe commented on #47
i tried to use pip install misaka on debian, it's no problem. git clone source and build it on ubuntu 15.04, also done.

[2015-10-25 09:51] FSX commented on #47
I see `No working compiler found, or bogus compiler options`. Did you install gcc on Ubuntu?

[2015-10-25 09:55] ethe commented on #47
certainly... i'm confident that.

[2015-10-25 09:56] ethe commented on #47
i have built it from source.

[2015-10-25 10:13] FSX commented on #47
Is the path to the gcc executables also in the `$PATH` environment variable?

I'll setup an Ubuntu vm later today (I just woke up) and see if I can reproduce this issue.

[2015-10-26 02:04] ethe commented on #47
path has no problem, i can use pip to install uwsgi by gcc.

[2015-10-31 14:44] ReneFroger commented on #47
Any update on this in order to solve it, @ethe ?

[2015-11-01 01:31] ethe commented on #47
@ReneFroger Nope, you can try install misaka by building from source.

[2015-11-01 11:29] FSX commented on #47
I just tested on Ubuntu and Xubuntu and everything works.

I had to install `python-dev` and `libffi-dev`.

[2015-11-01 14:17] ethe commented on #47
I'm confident that I have installed python-dev and libffi-dev before, did you installed the latest version(15.10) of ubuntu in test?
A strange thing, I tried to use pip install miska just now in a clean virtualenv, it works no problem. But when I attempted install misaka in global, I got an error like this:
[code]

[2015-11-01 23:04] FSX commented on #47
I tested it on the latest Ubuntu in Virtualbox. I can install everything without problems. Same for Xubuntu.

`build/temp.linux-x86_64-2.7/misaka._hoedown.c:2:20: fatal error: Python.h: No such file or directory`

That's the error you usually get when `python-dev` is not installed.

[2015-11-02 02:49] ethe commented on #47
I'm sure I have already installed python-dev... If not, why could I bulit it from source?

[2015-11-05 02:58] harish211 opened #49 "pip install misaka==2.0.0 error and pip install misaka==1.0.2 error"
Do I need to have any other packages/programs pre-installed to get this working? I keep getting the error even if I use the downgraded version of misaka, which is not the case for most, AFAIK. Any help in this regard is highly appreciated. Thank you!

[code]

[2015-11-05 10:00] FSX commented on #49
Windows is missing a header file, `stdint.h`. I'll look into this issue tomorrow.

[2015-11-06 11:00] ethe commented on #47
I found what happend, ` sudo -H python /usr/local/bin/pip install misaka` can install correctly. Because I installed pypy before and pypy's pip replace the alias `pip` from cpython. It's a so stupid issue, I'm sorry for wasting your time...

[2015-11-06 22:24] ReneFroger commented on #47
I watched this issue, but and my issue seems solved now.

[2015-11-07 14:17] haxwithaxe opened #50 "pip3 install misaka fails to install with uninformative error"
This is more of a feature request than a bug. If nothing else this might show up on google for people with the same problem.
When installing misaka with pip on debian stretch/sid lack of libffi-dev manifests as a very long line of exceptions caught while handling other exceptions with the following message on each, burying the cause which is clearly stated before the chain of exceptions caught whi

[2015-11-08 08:27] FSX commented on #50
I'll add it to the documentation and also look into prebuilt packages.

Thanks for reporting.

[2015-11-08 08:32] FSX commented on #47
Do you know what solved it for you?

[2015-11-08 08:39] ReneFroger commented on #47
Yes, I believe. Thanks to your comment, had to install `python-dev` and `libffi-dev`.

[2015-11-08 14:59] ego008 opened #51 "pip install misaka==2.0.0 error and pip install misaka==1.0.2 successfully with debian 8 64-bit"
[code]

[code]

`setuptools`  was installed:

[code]

[2015-11-11 20:30] sprin commented on #49
I've seen this issue before, let me copy the relevant part from an [isso issue](https://github.com/posativ/isso/issues/206):

The compiler cannot find the so-called "C (C99) headers", which don't appear to be bundled with your version of VC++. This affects the compilation of any software which needs the C99 headers, including Python libraries which have C99 extensions such as Misaka.

You can stil

[2015-11-11 20:44] FSX commented on #49
That's it. Having binary packages for Windows would solve this too. I don't have Windows. I can ask a friend to compile some.

[2015-11-11 22:49] #47 closed

[2015-11-11 23:03] FSX commented on #49
Added to docs. Will close on next release.

[2015-11-11 23:04] FSX commented on #50
Added to docs. Will close on next release.

[2015-11-11 23:08] FSX commented on #51
What happens if you run `pip install --upgrade cffi` and try t install Misaka again?

[2015-11-12 11:39] ego008 commented on #51
Thank you @FSX
Installing libffi-dev and cffi  fixed this issue for me.

[2015-11-12 11:39] #51 closed

[2015-12-07 05:33] xrlin commented on #50
I encounter this problem when use pip in centos6.5 too.  Your post helps me.
Thanks.

[2015-12-23 14:00] weaming opened #52 "can't process code block surrounded with ```"
can't process code block surrounded with ```
such as
[code]

[2015-12-23 14:11] FSX commented on #52
Did you enable the fenced codeblock extension?

[code]

Or:

[code]

[2015-12-24 03:18] weaming commented on #52
@FSX Can I set the default extensions value of this method to 'fenced-code'?
Because I want to use:
[code]
But don't want to change the `md(text)` part.

[2015-12-24 10:04] FSX commented on #52
You mean this?

[code]

Please read the documentation: http://misaka.61924.nl/

[2015-12-26 12:17] weaming commented on #52
@FSX I think yes.Thanks very much for your reply. I will try it later.

The documentation is not accessed easily in China for the net reason, and the domain is so strange.

[2015-12-26 12:32] FSX commented on #52
I see, you can also build the documentation yourself.

Go into the `docs` folder and run `make html`. A `_build` folder is created containing the HTML files.

[2015-12-26 13:19] weaming commented on #52
@FSX  It occured a EROOR:
[code]
I'm using misaka 1.0.2

[2015-12-26 13:48] weaming commented on #52
I had fix this using the `misaka.EXT_FENCED_CODE`.
But another problem appeared...

In version 1.0.2, must use `render()` function. ^_^
[code]

[2015-12-26 13:59] FSX commented on #52
Yes, I've changed it in version 2.

[2015-12-26 14:35] weaming commented on #52
@FSX You can visit my demo blog site http://codelog.sinaapp.com/

[2015-12-27 11:12] #52 closed

[2016-01-15 00:38] zacwitte opened #53 "pip install --upgrade misaka fails with ValueError: insecure string pickle"
I'm upgrading from version 1.0.2 of Misaka and pip is failing with the below stack trace. I noticed that 2.0.0 now uses hoedown so I tried brew install hoedown just for kicks, but didn't seem to make a difference. I'm on OSX El Capitan, python 2.7.10.

[code]

[2016-03-06 23:11] magician333 opened #54 "python3.5.1 can't install the misaka"
I use "pip install misaka",then it will make mistakes
,like these
by the way:I use termux on android and other python package can install
Command "python setup.py egg_info" failed with error code 1 in /data/data/com.termux/files/usr/tmp/pip-build-fli5nnnd/misaka

[2016-03-07 05:04] magician333 commented on #53
yes ,I'm too

[2016-03-07 19:12] FSX commented on #53
Sorry, for not responding. I just started with a new job and don't have much free time left.

I'll take a look at it his week.

[2016-03-07 19:15] FSX commented on #53
Do you have libffi installed? I need to install libffi-dev on Debian and Alpine Linux to compile Misaka.

The Hoedown source code is included in Misaka, so you don't have to install it. :)

[2016-03-07 19:16] FSX commented on #54
I've never tested Misaka on Android. I'll try taking a look at it this week. :)

[2016-03-07 19:17] #46 closed

[2016-03-08 02:19] luckerxia commented on #49
Thanks, Sprin
I solved the problem.
1, Download Visual C++ for Python from https://www.microsoft.com/download/details.aspx?id=44266
2, My installation path is 'C:\\Users\\lucker\\AppData\\Local\\Programs\\Common\\Microsoft\\Visual C++ for Python\\9.0'
3, Copy stdint.h to installation path.

[2016-03-08 04:17] magician333 commented on #54
OK，thanks

[2016-03-14 03:28] magician333 commented on #54
FSK,are you deal with it?

[2016-03-20 21:25] FSX commented on #54
Looking at it now.

[2016-03-26 15:20] aidenzou commented on #54
我也遇到同样的问题
环境：Mac Python 3.5
Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/bh/gb96wv6s0sd81bk_pxjpbp2c0000gn/T/pip-build-b_8womsc/misaka/

[2016-03-26 15:24] FSX commented on #54
@magician333, I get a different error. Can you send me the complete error message?

Same for @aidenzou.

[2016-04-09 04:55] sjjpo2002 commented on #49
step 3 above should be revised to:

[2016-04-09 09:04] magician333 commented on #54
@FSX is here , https://db.tt/OlMOanDd

[2016-04-09 11:57] FSX commented on #54
Did you install libffi and libffi-dev?

[2016-04-10 04:42] magician333 commented on #54
@FSK no,I'will try to it

[2016-04-10 08:11] magician333 commented on #54
@FSK no,still mistake

[2016-04-10 09:48] FSX commented on #54
Ok, please keep posting the error messages. I'll try to figure it out too.

[2016-04-28 09:03] rebootl opened #55 "AttributeError: module 'misaka' has no attribute 'HtmlRenderer'"
Trying the example from the docs I get this:

[code]

[code]

More code:

[code]

"""))

[code]

[2016-04-30 12:22] FSX commented on #55
Are you sure you have the right package?  The code from the docs work here.

[2016-05-23 00:52] #54 closed

[2016-11-04 19:20] Lewiscowles1986 opened #57 "Ubuntu / Debian dependencies"
So I got a lot of errors whilst installing in ubuntu, which means debian users may have issues as well

I just ran the following
[code]

It might also help people with docker debian-based images, I'm unsure where it belongs in the documentation

[2016-12-03 02:19] windism opened #58 "one HtmlTocRenderer question"
The contents of the document are as follows：

[code]

[2017-01-10 07:16] ColdHeat commented on #49
Is it possible to upload binary packages?

[2017-01-10 10:06] Changaco opened #59 "Built-in XSS protection"
In Misaka 1.0 there was a `SAFELINK` flag that provided a decent protection against XSS attacks, but it seems to have disappeared from upstream (<https://github.com/hoedown/hoedown/issues/209>).

Misaka 2.0 could fill the gap by providing a renderer subclass with custom `autolink`, `image`, and `link` methods that check URLs. Here's the one I've written: [markdown.py](https://github.com/liberapay/

[2017-01-10 22:27] FSX commented on #59
Yes, but only if you include tests. ;)

[2017-01-15 13:49] FSX commented on #59
The PR has been merged. Thanks! :)

[2017-01-15 13:53] #59 closed

[2017-01-15 19:16] #45 closed

[2017-01-15 19:25] FSX commented on #57
Added to docs.

[2017-01-15 19:25] #57 closed

[2017-01-15 19:51] FSX commented on #35
This looks like a Hoedown issue. :(

[2017-01-15 19:51] #35 closed

[2017-01-15 19:51] #38 closed

[2017-01-15 19:52] #53 closed

[2017-01-15 19:53] #55 closed

[2017-01-15 19:53] #50 closed

[2017-01-15 19:55] FSX commented on #58
You need to enable the fenced codeblocks extension for the TOC renderer too.

[2017-01-15 19:55] #58 closed

[2017-01-30 09:01] hetsch opened #61 "HTML escaping question"
Hello Frank,

this is more a question than an issue. Let's assume that I use as source file `Markdown Documentation - Basics.text` and as expected result `Markdown Documentation - Basics.html` from your test suite folder. Everything works really smoothly, but I have no idea how to turn off HTML escaping. As far as I've understood the documentation, it should be disabled by default and only enabled

[2017-04-22 12:26] zhengguanji opened #62 "Table can't work in Django project"
I can‘t use the markdown syntax to insert a table, I input this:
[code]

then I get this:
![mdtable](https://cloud.githubusercontent.com/assets/14540039/25304414/3fcfb9f6-2799-11e7-8344-9e022e1d0188.jpg)

It should be like this:

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
|

[2017-04-22 21:32] FSX commented on #62
Can you be more specific? Do you get the right HTML output?

[2017-04-23 08:51] zhengguanji commented on #62
Yeah, I got the right HTML output, but in my page can't show the table, just like above, the table have no border, here is my Django model code:
[code]

[2017-04-23 09:37] FSX commented on #62
Ok, looks correct. Did you also check the CSS?

[2017-04-23 10:29] zhengguanji commented on #62
I have no CSS style about the table.

[2017-04-23 10:37] FSX commented on #62
Try to add it. Maybe it works.

[2017-04-23 12:47] FSX commented on #62
That's not Misaka's job. I would have to inline CSS, which is wrong and causes conflicts with the CSS of the user/developer.

[2017-04-23 12:47] #62 closed

[2017-05-25 11:14] ghost opened #63 "Customize HtmlTocRenderer anchor link"
Hello

I am trying to customize the output of the HtmlTocRenderer

I wish to replace this output:
[code]

By this one:
[code]

It is possible to do this by inheriting **HtmlTocRenderer**, or have to write another function for that ?

[2017-09-10 21:54] jorgesumle commented on #49
If you are using a Debian-based GNU/Linux distribution you need to install the libffi-dev package.

[2017-09-11 14:21] Sahil624 opened #64 "Error in Installing misaka"
`Collecting misaka==2.1.0
  Using cached misaka-2.1.0.tar.gz
    Complete output from command python setup.py egg_info:
    c/_cffi_backend.c:2:20: fatal error: Python.h: No such file or directory
    compilation terminated.
    Traceback (most recent call last):
      File "/usr/lib/python3.5/distutils/unixccompiler.py", line 118, in _compile
        extra_postargs)
      File "/usr/lib/python3.5

[2017-09-11 14:34] Sahil624 commented on #64
I pip installed cffi , now I am at  [https://github.com/numba/llvmlite/issues/166](this Issue).
I guess That can be a little promotion.

[2017-09-11 14:34] #64 closed

[2017-09-11 14:41] Sahil624 commented on #49
I got Same error It says
`build/temp.linux-x86_64-3.5/misaka._hoedown.c:12:24: fatal error: pyconfig.h: No such file or directory`

can anyone help, please?

[2017-10-03 22:14] AlexVillegas opened #65 "Error pip install misaka in Windows 8.1 64 bit"
Helllo.
I have Windows 8.1 64bit, I need install misaka in Python 3.6.1|Anaconda 4.4.0 64 bit, but when I trying install say :
(DjangoEnv) c:\Python36\envs>pip install misaka==2.1.0
Collecting misaka==2.1.0
  Using cached misaka-2.1.0.tar.gz
Requirement already satisfied: cffi>=1.0.0 in c:\python36\envs\djangoenv\lib\sit
e-packages (from misaka==2.1.0)
Requirement already satisfied: pycparser in c

[2017-10-12 14:56] mshava commented on #49
Pip install misaka gives me an error = Failed building wheel for misaka,  error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

[2017-10-16 10:56] mshava commented on #46
Hi there,
Can you guys help me with this one module 'misaka' has no attribute 'html'

[2017-10-16 12:24] mshava commented on #47
Hey Guys,

I'm really struggling to get misaka up and running, it keeps on telling me that module 'misaka' has no attribute 'html'.Please help out if you can

Thank You

[2018-07-12 16:06] samuelcolvin opened #66 "Error with SaferHtmlRenderer"
Problem is at

https://github.com/FSX/misaka/blob/dcf87c8a062d0416d702541e544cd4285a1459c0/misaka/api.py#L345

Should be relatively simple to fix with

[code]

Or similar

Example of the error:

[code]

[2018-07-26 08:56] FSX commented on #66
Thanks for the report @samuelcolvin!

Sorry for the slow response. Was caught up in work. :(

I pushed a fix: https://github.com/FSX/misaka/commit/587edde849a9188300e87d3d3773a9531a2634a7. Can you verify it works on your side? I can make a release shortly.

[2018-07-26 08:59] samuelcolvin commented on #66
I'm away from my computer this week.

Looks good to me although I think you have a double space (not sure if you care).

[2018-07-26 09:24] FSX commented on #66
Fixed.

[2018-07-26 10:17] samuelcolvin commented on #66
Thank you so much.

[2018-07-26 10:18] #66 closed

[2018-08-09 13:54] chahalx commented on #65
please help me in the same matter??? any solutions?

[2018-11-29 13:19] mlinhard opened #67 "Custom renderer segfaults on empty codespan"
If I create a custom renderer (e.g. one that converts codespans to simple brackets) and call it on input with empty codespan it segfaults:

[code]

The problem is [here](https://github.com/FSX/misaka/blob/master/misaka/callbacks.py#L200):
[code]
The text will be a NULL CData object and dereferencing `text.data` attribute will segfault.

I worked around it with `ffi.NULL` check

[2018-11-29 13:30] mlinhard commented on #67
Workaround fix in `callbacks.py`:
Replace line
[code]
with
[code]

[2018-11-29 16:41] kingclowndean commented on #67
Bonjour souple

Le 29 nov. 2018 6:30 AM, "Michal Linhard" <notifications@github.com> a
écrit :

[2018-12-01 09:50] #67 closed

[2018-12-01 09:55] #49 closed

[2018-12-01 09:57] FSX commented on #65
Maybe this helps: https://blog.ionelmc.ro/2014/12/21/compiling-python-extensions-on-windows/

I have have Windows and enough time to figure it out.

[2018-12-01 09:57] #65 closed

[2018-12-01 10:02] FSX commented on #63
Yes, you if you set the header-callback in the renderer.

See: http://misaka.61924.nl/#misaka.BaseRenderer.header

[2018-12-01 10:02] #63 closed

[2018-12-01 10:05] #61 closed

[2018-12-01 10:05] FSX commented on #61
Sorry. Was busy.

[2018-12-02 14:19] lepture commented on #67
@FSX is there a bug fix release?

[2018-12-02 20:32] FSX commented on #67
@lepture Just now.

[2019-02-27 09:31] FSX opened #69 "Replace Hoedown (unmaintained, but works)"
Hoedown hasn't seen any commits since 2015. AFAIK it's good enough, but I'd like a maintained library as the back-end for Misaka.

There's:

- [commonmark/cmark](https://github.com/commonmark/cmark)
- [raphlinus/pulldown-cmark](https://github.com/raphlinus/pulldown-cmark) (also see [Writing Python Extensions In Rust Using PyO3](https://www.benfrederickson.com/writing-python-extensions-in-rust-usin

[2019-02-27 16:15] kingclowndean commented on #69
Ok

On Feb 27, 2019 2:31 AM, "Frank" <notifications@github.com> wrote:

[2019-02-28 23:23] FSX opened #70 "Automated binary builds (Linux, Windows, mac OS)"
Would be nice to have this.

I found [cibuildwheel](https://github.com/joerick/cibuildwheel).

[2019-03-01 12:34] kingclowndean commented on #70
El 28 feb. 2019 4:23 PM, "Frank" <notifications@github.com> escribió:

[2019-03-01 19:53] kingclowndean commented on #70
Thanks

El 1 mar. 2019 5:34 AM, "Kim Dorner" <kimdorner2@gmail.com> escribió:

[2019-07-07 20:57] FSX commented on #70
[Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/) cam be used for Windows builds.

[2019-07-07 20:58] FSX commented on #69
Working on this now.

[2019-07-07 21:05] FSX commented on #70
Source Hut ([1][]) ([2][]) can be used for Linux and BSD.

[1]: https://builds.sr.ht/
[2]: https://man.sr.ht/builds.sr.ht/compatibility.md

[2019-07-07 21:10] FSX commented on #69
Chose MD4C.

[2019-07-10 20:22] FSX commented on #69
Track development here: https://github.com/FSX/misaka/tree/md4c-backend

[2019-07-12 17:06] kingclowndean commented on #70
🤔Thank you for your co response

On Sun, Jul 7, 2019 at 2:05 PM Frank <notifications@github.com> wrote:

[2019-07-29 08:51] E-Wagner opened #71 "Math is not rendering for me (using Flask-Misaka)"
I'm creating a blog that requires mathematics notation. The following won't render the latex notation into mathematics notation:

[code]
(indentation is correct, github isn't showing it correctly.)
Can you help me to get this to work?
Thank you for your time

[2019-07-29 15:12] FSX commented on #71
Misaka doesn't actually render LaTeX to math symbols.

You need [MathJax][1] or [KaTeX][2] for that.

[1]: https://www.mathjax.org/
[2]: https://katex.org/

[2019-07-29 19:56] E-Wagner commented on #71
@FSX, thanks frank, you can close it. I got it to work with MathJax 💃

[2019-07-29 21:18] FSX commented on #71
np :+1:

[2019-07-29 21:18] #71 closed

[2019-09-06 14:51] mardy opened #72 "Error on security-hardened systems"
Hi!
  I'm running isso (which depends on misaka) in dreamhost. Since a couple of months my isso CGI stopped working:

[code]

I understand that this will be eventually solved by #69, but I wonder if you are aware of a quicker workaround to get things working?

[2019-09-06 14:59] FSX commented on #72
Hi, thanks for the report! Do you have more details about the system you're running? Then I can reproduce the issue and see what I can do.

----- Original message -----
From: Alberto Mardegan <notifications@github.com>
To: FSX/misaka <misaka@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [FSX/misaka] Error on security-hardened systems (#72)
Date: Friday, September 06,

[2019-09-06 15:13] mardy commented on #72
Not really, but the [page](https://cffi.readthedocs.io/en/latest/using.html#callbacks) linked in the error message has some informative recommendation:

For the time being, I've "fixed" the issue by making isso use mark3 instead of misaka, just on my own hosting.

[2019-09-06 15:32] FSX commented on #72
Alright. I'll take a look at it once I get home. 👍

----- Original message -----
From: Alberto Mardegan <notifications@github.com>
To: FSX/misaka <misaka@noreply.github.com>
Cc: Frank <frank@61924.nl>, Comment <comment@noreply.github.com>
Subject: Re: [FSX/misaka] Error on security-hardened systems (#72)
Date: Friday, September 06, 2019 17:13

Not really, but the page <https://cffi.readthedocs.io/

[2019-09-07 09:13] FSX commented on #72
@mardy Can you give this branch https://github.com/FSX/misaka/tree/cffi-new-style-callbacks a try?

[2019-09-07 11:11] mardy commented on #72
Wow, that was fast! Works like a charm :-)

[2019-09-07 16:06] FSX commented on #72
Good. I'll make a release shortly (and then close this issue).

[2019-09-08 19:04] kingclowndean commented on #72
#72e.g.R&D...

My Bad ...

Solve Error to collateral damage respond...l

communication dispose
contingent action over this matter effective
...immediately

recourse ricin to ...
whisky-data-alpha

On Sat, Sep 7, 2019, 9:06 AM Frank <notifications@github.com> wrote:

[2019-09-14 18:11] noisytoken opened #73 "Unable to call HtmlRenderer's paragraph method"
I am creating a customer renderer to adds admonition tags to Markdown.

[code]
When `paragraph()` method is called I get this error:

[code]

[2019-09-14 21:16] FSX commented on #73
Unfortunately the current design doesn't support overriding parent methods, because `HtmlRenderer` doesn't have any methods. It just fills a struct with function pointers on init (which are not accessible from Python).

I'm planning to address this in the next major version.

For now you have to re-implement the paragraph rendering method yourself. See code below for an example.

[code]

[2019-09-20 10:36] geekyogurt opened #74 "No ids for headers"
Flask Misaka, unlike jekyll and python markdown library doesnot add id to headings.

[2019-09-20 11:40] FSX commented on #74
How are you using Misaka? Do you have a code snippet?

To include IDs you can pass `nesting_level` to `HtmlRenderer`. See: https://misaka.61924.nl/#misaka.HtmlRenderer

It not a very friendly API now that I look at it.

[2019-09-20 12:17] geekyogurt commented on #74
I am using Flask-Misaka.https://github.com/singingwolfboy/flask-misaka
{{data|markdown}} in html and initializing the app using:
Misaka(app, fenced_code=True, tables=True, footnotes=True, toc=True,space_headers=True)

[2019-09-20 18:53] noisytoken commented on #73
Thanks that would work.
BTW, how can I add *Table of contents*. The docs mention the `HtmlTocRenderer` class but doesn't give a clue about how to use it?

[2019-09-24 16:03] kingclowndean commented on #74
I am using Flask-Misaka.https://github.com/singingwolfboy/flask-misaka
{{data|markdown}} in html and initializing the app using:
Misaka(app, fenced_code=True, tables=True, footnotes=True, toc=True,space_headers=True)

[2019-09-24 16:04] kingclowndean opened #75 "Foxtrot Whiskey Tango"
I am using Flask-Misaka.https://github.com/singingwolfboy/flask-misaka
{{data|markdown}} in html and initializing the app using:
Misaka(app, fenced_code=True, tables=True, footnotes=True, toc=True,space_headers=True)

[2019-09-24 16:51] FSX commented on #75
Closing this. Can't do anything with this.

[2019-09-24 16:51] #75 closed

[2019-09-24 16:52] FSX commented on #74
@geekyogurt Sorry, I wa busy. I'll reply with an answer to your question tonight.

[2019-09-24 18:20] FSX commented on #73
You can add `nesting_level=6` to `CustomHTMLRenderer` to add id attributes to the HTML headers. And `HtmlTocRenderer` can be used to render the input text to a nested list of header contents.

Here's your code updated with a toc:

[code]

[2019-09-24 18:52] FSX commented on #74
I'm guessing the following should work:

[code]

I don't see a way to add a table of contents renderer into the current Flask-Misaka code. `toc=True` also isn't an argument I see in Flask-Misaka's code.

[2019-09-25 17:14] kingclowndean commented on #75
<iframe src="https://onedrive.live.com/embed?cid=1744D9B8DF9F108E&resid=1744D9B8DF9F108E%21629&authkey=AMsvD21sjG_mmAc&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>

[2019-09-25 17:25] kingclowndean commented on #75
<iframe src="https://onedrive.live.com/embed?cid=1744D9B8DF9F108E&resid=1744D9B8DF9F108E%21629&authkey=AMsvD21sjG_mmAc&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>

[2019-09-25 19:00] huajianjiang opened #76 "Newline not rendered"

[2019-09-25 19:16] FSX commented on #76
Hi, can you give some more details about what you're expecting?

[2019-09-25 20:37] #72 closed

[2019-09-26 05:29] huajianjiang commented on #76
**Original:**
[code]
**Rendered**
[code]
If you not newline after 'Question part' , it rendered as a whole p tag, but most of other markdown render not force to newline before list or some other block.
I don't known why?
Thanks.

[2019-10-05 08:28] FSX commented on #76
I'm sorry. I don't really know why. It hasn't been a problem for me so far.

I'm working on a new version of Misaka that uses md4c. That might solve your problem.

[2019-10-05 08:29] #76 closed

[2019-11-01 15:29] noisytoken commented on #73
This code renders the `HTML_HARD_WRAP` flag useless.

[2019-11-07 12:03] DanielG commented on #69
Is changing the backend C library not likely to change misaka's behaviour in subtle ways and just potentially introduce new bugs? i.e. is this really a good idea?

Let me explain -- I'm currently working on packaging misaka 2.* for Debian with hoedown properly seperated out as another package rather than embedded in misaka. As part of my review of hoedown I also noticed that the project is essenti

[2019-11-07 13:05] FSX commented on #69
That's true, but Hoedown is completely dead. If I want to continue using it I have to fork and maintain it. There are newer and maintained implementations like cmark and MD4C. I feel safer using a library that's maintained.

I chose to switch to a new backend and accept the risk of incompatible changes and new bugs. I do plan to bump the major version number, maintain version 2 for a while, and wr

[2019-11-07 13:25] DanielG commented on #69
I don't want to maintain hoedown by myself either really :), but just looking at how many other libraries are using it I have a feeling efforts could be pooled to keep it maintained. Personally I think the risk of switching the backend is greater than that of just continuing to maintain hoedown.

I can totally relate to the uneasy feeling of using an unmaintained library, but are there any issues

[2019-11-07 14:23] FSX commented on #69
There's also a specification for markdown now, Common Markdown. Hoedown is still from before the Common Markdown specification. I think that's also a good argument to switch to something else.

Before Hoedown there was Sundown. And Sundown was abandoned/unmaintained, the author went to work on Common Mark and cmark. And cmark took a while to be released. That's when people forked Sundown and made

[2019-11-25 08:17] noisytoken commented on #71
@FSX so what's the point of `EXT_MATH` and `EXT_MATH_EXPLICIT` extensions?

[2019-11-29 17:26] FSX commented on #71
Anything between `$…$`, `$$…$$`, `\(…\)`, and `\[…\]` is not interpreted as Markdown.

[2020-04-19 06:35] niteshsinha17 opened #78 "unable to install misaka using command: pip install misaka"
pip installmisaka
ERROR: unknown command "installmisaka" - maybe you meant "install"

C:\Users\10>pip install misaka
Collecting misaka
  Using cached misaka-2.1.1.tar.gz (125 kB)
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\10\appdata\local\programs\python\python38-32\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\10\\AppData\\Local\\T

[2020-05-04 14:35] AyushRajSharma opened #79 "unable to install misaka using pip install misaka"
i want to install misaka on pycharm for a django project on python 3.8 interpreter.
i have tried  pip install misaka command and also try to clone and install,
but it is not working properly. I get some error with this inside cloned files.

[2020-05-04 14:36] AyushRajSharma commented on #79
please me to resolve

[2020-05-04 21:18] FSX commented on #79
Sorry, I don't have Windows. And currently I don't have much time to figure out how to build things on Windows.

Using a pure-Python markdown parser might be a lot easier to use. [Mistune][1] for example.

[1]: https://github.com/lepture/mistune

[2020-05-04 21:19] FSX commented on #78
Sorry, I don't have Windows. And currently I don't have much time to figure out how to build things on Windows.

Using a pure-Python markdown parser might be a lot easier to use. [Mistune][1] for example.

[1]: https://github.com/lepture/mistune

[2020-05-04 21:21] AyushRajSharma commented on #79
Ok thanks

On Tue, 5 May 2020, 2:48 am Frank, <notifications@github.com> wrote:

[2020-07-08 12:25] noisytoken opened #80 "Unexpected Formatting of the triangular pattern"
I am trying to show a triangular pattern like this:

[code]

It is being rendered as:

[code]

why the first `*` start at the first column?

[2020-07-14 06:17] noisytoken commented on #73
There is one problem with this code. Consider the following:

[code]
"""

    print(
        render_table_of_contents(text) +
        render_contents(text, flags)
    )
[code]

[2020-08-28 06:52] noisytoken opened #81 "Incorrect Rendering of TOC"
Considee the following code:

https://pastebin.com/mVHV6keK

It generates the following incorrect markup

[code]

The text `a comment` is part of the fenced code block. Hence, it shouldn't be part of the TOC.

[2020-08-30 14:10] FSX commented on #81
You need to enable the fenced code block extension. Otherwise headers from fenced code blocks are also included in the TOC.

[2020-09-05 20:17] #81 closed

[2020-10-20 11:21] samuelcolvin opened #82 "add wheel to pypi"
Misaka is only available via a `.tar.gz` file from pypi, currently `misaka-2.1.1.tar.gz`.

It would improve installation time and portability if you could also distribute a wheel file.

The simplest way to do this with a binary package like misaka is using [cibuildwheel](https://github.com/joerick/cibuildwheel) this is most easily achieved by performing the build and upload on CI.

Let me know if

[2020-10-29 09:48] FSX commented on #82
@samuelcolvin Thanks for the suggestion. I'll take a look at it, but I don't know when I can.

[2021-04-27 15:07] vsolovyov opened #84 "Issue new version?"
Hello, when I import Misaka (2.1.1) it fails in callbacks:

[code]

Surely, cffi docs are pretty helpful and they say these are some old-style callbacks yadda-yadda. I see that the latest version on github has already converted to new-style callbacks, so I tried to install from master and it seems to work ok (I only tried the simplest markdown).

TL;DR: On MacOS 10.14.6 misaka 2.1.1 worked flawles

[2022-01-04 15:47] samuelcolvin commented on #82
@FSX this would be really helpful. Would you like my help implementing this?

[2022-05-06 05:05] MorvanZhou commented on #84
Get the same issue on MacOS 12.3.1